.about-me{
  padding: 30px 0px;
  .container{
    .image-holder{
      height: fit-content;
      background-color: black;
      border-radius: 20px;
      padding: 5px;
      overflow: hidden;
      inset: 0;
      position: relative;
      transform: translateX(-200%);
      transition: var(--transition-time);
      &::after{
        content: '';
        position: absolute;
        width: 150%;
        height: 50%;
        background-color: red;
        top: 50%;
        left: 50%;
        background: linear-gradient(
          transparent, #45f3ff, #45f3ff, #45f3ff, transparent
        );
        animation: rotation 4s linear infinite;
      }
      &.show{
        transform: translateX(0%);
      }
      img{
        max-width: 100%;
        border-radius: 20px;
        position: relative;
        z-index: 100;
      }
    }
    .information{
      overflow: hidden;
      .text-information{
        transform: translateX(200%);
        transition: var(--transition-time);
        &.show{
          transform: translateX(0%);
        }
        h3{}
        p{
          font-size: 2.25rem;
          span{
            color: var(--secondary-font-color);
            // font-family: "Raleway", sans-serif;
            font-style: italic;
            font-weight: 500;
          }
        }
      }
      .soft-skills{
        transform: translateX(200%);
        transition: var(--transition-time);
        &.show{
          transform: translateX(0%);
        }
        .soft-skill{
          background-color: var(--soft-skills-bg);
          color: var(--soft-skills-color);
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          font-size: 2rem;
          border: 5px solid var(--boxes-space); 
        }
      }
    }
  }
} 

@media (max-width: 767px) {
  .about-me{
    .container{
      .information{
        text-align: center;
        .text-information{
          h3{}
          p{}
        }
      }
    }
  } 
}

@keyframes rotation {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}