<div class="about-me">
  <div class="container d-block d-md-flex align-items-center justify-content-center gap-md-3" id="about-me">
    <div class="image-holder col-md-4">
      <img src="./assets/Images/My-Image1.jpg" alt="">
    </div>
    <div class="information py-3 px-1 col-md-8 text-md-center">
      <div class="text-info" id="text-info">
        <h3>About Me</h3>
        <p>
          Hi, My Name Is <span>Ahmed Ben Chakhter.</span> I'm A <span>Front-End Angular Developer</span> And
          <span>Technician Specialized In Computer Networks.</span>
          I Have <span id="my-age"> {{ currentAge }} </span>, From <span>Tetouan, Morocco.</span> I Love To Learn And Help And Develope.
          Nice To Meet You.
        </p>
      </div>
      <div class="soft-skills d-flex align-items-center flex-wrap" id="soft-skills">
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          Communication.
        </div>
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          Hard Work.
        </div>
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          fast learning.
        </div>
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          Commitment.
        </div>
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          Adapted.
        </div>
        <div class="soft-skill col-12 col-sm-6 col-lg-4 col-xl-3">
          Team Work.
        </div>
      </div>
    </div>
  </div>
</div>