<div class="personal-info mb-4 col-12 col-md-6 col-lg-12">
  <div class="contact-info p-2 p-lg-0">
    <h4>Contact Info</h4>
    <div class="contact-line mb-3 d-flex align-items-center what-num">
      <img class="me-3" src="./assets/Icons/whatsAppIcon.svg" alt="whatsAppIcon">
      <span>+212609526086</span>
    </div>
    <div class="contact-line mb-3 d-flex align-items-center place">
      <img class="me-3" src="./assets/Icons/mapMarkerIcon.svg" alt="mapMarker">
      <span>55 Avenue Othman Ibn Affane, Tetouan, Morocco.</span>
    </div>
    <div class="contact-line mb-3 d-flex align-items-center email">
      <img class="me-3" src="./assets/Icons/emailMessageIcon.svg" alt="emailMessage">
      <span>ahmadbenchakhti@gmail.com</span>
    </div>
  </div>

  <div class="social-media p-2 p-lg-0 d-flex align-items-center justify-content-around justify-content-md-start justify-content-lg-around">

    <a href="https://wa.me/+212609526086" target="_blank" rel="noopener noreferrer">
      <img class="me-0 me-md-4 me-lg-0" src="./assets/Icons/whatsAppIconSecondColor.svg" alt="whatsAppIcon">
    </a>

    <a href = "mailto: ahmadbenchakhti@gmail.com" target="_blank" rel="noopener noreferrer">
      <img class="me-0 me-md-4 me-lg-0" src="./assets/Icons/emailMessageIconSecondColor.svg" alt="emailMessage">
    </a>

    <a href="https://www.linkedin.com/in/ahmed-ben-chakhter/" target="_blank" rel="noopener noreferrer">
      <img class="me-0 me-md-4 me-lg-0" src="./assets/Icons/linkedInIconSecondColor.svg" alt="emailMessage">
    </a>

    <a href="https://github.com/ahmad-ben" target="_blank" rel="noopener noreferrer">
      <img class="me-0 me-md-4 me-lg-0" src="./assets/Icons/githubIconSecondColor.svg" alt="emailMessage">
    </a>

  </div>


</div>

<div class="map overflow-hidden col-12 col-md-6 col-lg-12">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.9963772256683!2d-5.38089107500194!3d35.57848123561277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b4261e39d8219%3A0xb84219c387906917!2sAv.%20Othman%20Ibn%20Affane%2C%20T%C3%A9touan!5e0!3m2!1sar!2sma!4v1684259622586!5m2!1sar!2sma" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>