<div class="my-skills" id="my-skills">
  <div class="container">
      <h3  id="skills-headrer" class="text-center">My Skills</h3>
      <div id="skills" class="skills d-flex flex-wrap justify-content-center align-items-center">
        <div 
          class="skill overflow-hidden flex-grow-1 col-sm-6 col-md-4 col-lg-3 col-xxl-2 text-center"
          *ngFor="let skill of skills"
          >
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div
              class="percent" 
              attr.data-percent="{{ skill.masteryLevel }}" 
              style="--clr: {{ skill.color }}; --num: {{ skill.masteryLevel }}"
            >
              <div *ngIf="isVisible" class="dot"></div>
              <svg *ngIf="isVisible">
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src=" {{ skill.imageUrl }} " alt="">
              </div>
            </div>
          </div>
          <span> {{ skill.skillName }} </span>
        </div>
      </div>
  </div>
</div>