.map iframe {
  width: 100%;
  height: 100%;
  min-height: 200px; 
}
.contact{
  .container{
    form{
      .holder{
        input{
          min-width: 280px;
        }
      }
      textarea{
        max-width: 580px;
        min-height: 160px;
        resize: none;
      }
      .submit-btn{
        width: fit-content;
        margin: auto;
        padding: 6px 14px;
        font-size: 20px;
        border: 2px solid var(--main-blue);
        color: var(--main-blue);
        transition: var(--transition-time);
        &.active{
          border-color: white;
          background-color: var(--main-blue);
          color: white;
        }
        &.inactive{
          cursor: not-allowed;
        }
      }
      .error{
        color: #FF5454;
        font-size: 18px;
      }
    }
    .contact-info{
      .contact-line{
        
      }
    }
  }
}

@media (max-width: 767px) {
  .map{
    height: 350px;
  }
}

@media (max-width: 767px) {
  .social-media{
    svg{
      width: 35px;
      height: 35px;
    }
  }
}

// ----------
footer{ 
  font-size: 25px;
  color: white;
  border-top: 1px solid var(--main-blue);
  span{
    color: var(--main-blue);
  }
  .love{ 
    color: #A6ADBF; 
  }
}

@media (max-width: 767px) {
  footer{
    font-size: 20px;
    svg{
      width:  27px;
      height: 27px;
    }
  }
}

@media (max-width: 455px) {
  footer{
    font-size: 15px;
    svg{
      width:  21px;
      height: 21px;
    }
  }
}
