<div class="contact pb-5" id="contact">

  <div class="container">

    <h3  id="contact-header" class="text-center mb-0 mt-4">Contact</h3>

    <div class="d-flex flex-wrap justify-content-center align-items-center">

      <div class="col-12 col-lg-8 p-md-2 p-lg-3">

        <contact-form></contact-form>

      </div>

      <div class="d-flex flex-wrap justify-content-center align-items-center col-12 col-lg-4 d-lg-block">

        <contact-info></contact-info>

      </div>

    </div>

  </div>

</div>
















