form{
  .holder{
    input{
      min-width: 280px;
    }
  }
  textarea{
    min-height: 160px;
    resize: none;
  }
  .submit-btn{
    width: fit-content;
    margin: auto;
    padding: 6px 14px;
    font-size: 2rem;
    border: 2px solid var(--primary-font-color);
    color: var(--primary-font-color);
    transition: var(--transition-time);
    &.active{
      border-color: white;
      background-color: var(--secondary-font-color);
      color: white;
    }
    &.inactive{
      cursor: not-allowed;
    }
  }
  .error{
    color: var(--error-color);
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .holder{
    input{
      max-width: 310px;
    }
  }
  textarea{
    max-width: 400px;
  }
}

.form-control{
  font-size: 1.6rem;
}