<!-- <div class="my-skills" id="my-skills">
  <div class="container">
      <h3  id="skill" class="text-center">My Skills</h3>
      <div id="skills" class="skills d-flex flex-wrap justify-content-center align-items-center">
        <div class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="90" style="--clr: #04fc43; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/HTML.png" alt="">
              </div>
            </div>
          </div>
          <span>HTMl</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="90" style="--clr: #06ccff; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/CSS.png" alt="">
              </div>
            </div>
          </div>
          <span>CSS</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="85" style="--clr: #ff00be; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/JS.jpg" alt="">
              </div>
            </div>
          </div>
          <span>JS</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="85" style="--clr: #fee800; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/TS.png" alt="">
              </div>
            </div>
          </div>
          <span>TS</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="75" style="--clr: #ff00be; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/SASS.webp" alt="">
              </div>
            </div>
          </div>
          <span>SASS</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="75" style="--clr: #fee800; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/BOOTSTRAP.png" alt="">
              </div>
            </div>
          </div>
          <span>BootStrap</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="80" style="--clr: #06ccff; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/ANGULAR.png" alt="">
              </div>
            </div>
          </div>
          <span>Angular</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="70" style="--clr: #04fc43; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/GITHUB.png" alt="">
              </div>
            </div>
          </div>
          <span>Github</span>
        </div>
        <div  class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2">
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div class="percent" data-percent="70" style="--clr: #06ccff; --num: 0">
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src="imgs/my skills/FIREBASE.webp" alt="">
              </div>
            </div>
          </div>
          <span>Firebase</span>
        </div>
      </div>
  </div>
</div> -->
<div class="my-skills" id="my-skills">
  <div class="container">
      <h3  id="skill" class="text-center">My Skills</h3>
      <div id="skills" class="skills d-flex flex-wrap justify-content-center align-items-center">
        <div 
          class="skill flex-grow-1 col-sm-6 col-md-4 col-lg-3 text-center col-xl-3 col-xxl-2"
          *ngFor="let skill of skills"
          >
          <div class="skill-design d-flex justify-content-center align-items-center">
            <div  
              [ngClass]="{'percent': isVisible}" 
              attr.data-percent="{{ skill.masteryLevel }}" 
              style="--clr: {{ skill.color }}; --num: {{ skill.masteryLevel }}"
            >
              <div class="dot"></div>
              <svg>
                <circle cx="50%" cy="50%" r="70"></circle>
                <circle cx="50%" cy="50%" r="70"></circle>
              </svg>
              <div class="image-holder">
                <img src=" {{ skill.imageUrl }} " alt="">
              </div>
            </div>
          </div>
          <span> {{ skill.skillName }} </span>
        </div>
      </div>
  </div>
</div>