/* You can add global styles to this file, and also import other style files */
@use 'Scss/Variables';

:root{
  font-size: 62.5%; //=> 16Px * 0.625 = 10Px
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem; //=> 1.6 * 10Px = 16px

  font-family: 'Alkatra', cursive;

  background-color: var(--back-color);

  color: var(--primary-font-color);

  transition: var(--transition-time);
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

h3{ font-size: 3.5rem }

h4{ font-size: 2.4rem }

// <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FBzc8BM944PvWZJ21t7Nmzv%2FFirst-Figma-Project%3Ftype%3Ddesign%26node-id%3D3%253A51%26t%3Do9Z8PFPXj8fTV7Zw-1" allowfullscreen></iframe>