/* You can add global styles to this file, and also import other style files */
@use 'Scss/Variables';

:root{
  font-size: 62.5%; //=> 16Px * 0.625 = 10Px
}


body{
  font-family: 'Alkatra', cursive;
  background-color: var(--main-black);
  color: #0dcaf0;
  font-size: 1.6rem; //=> 1.6 * 10Px = 16px
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


h3{
  font-size: 3.5rem;
}

h4{
  font-size: 2.4rem;
}

