:root{
  --back-color: #2e3138;// #434750;/*#f0ffff*/  /*#00ffff*/

  --primary-font-color: #00d4ff;/*#0e75a4*/ /*#004666*/

  --secondary-font-color: #009afa;/*#006eb3*/ /*#185395*/

  --boxes-space: #2e3138;//#434750;/*#f0ffff*/ 

  --error-message: #ff5454; /*#a51d1d*/

  --transition-time: .5s;
}