:root{
  // --back-color: #2e3138;
  --back-color: #1f1f1f;

  // --primary-font-color: #00d4ff;
  --primary-font-color: #fff;

  // --secondary-font-color: #009afa;
  --secondary-font-color: #f0e0d0;

  --soft-skills-bg: #fff;

  --soft-skills-color: #000;

  --boxes-space: #1f1f1f; 

  --error-message: #ff5454;

  --transition-time: .5s;
}


// 219 225 232