<button 
  class="mode" 
  [ngClass]="darkMode ? 'dark' : 'light'" 
  #btn (click)="changeMode(btn)"
>

  <img *ngIf="!darkMode" src="./assets/Icons/moonIcon.svg" alt="moonIcon">
  <img *ngIf="darkMode" src="./assets/Icons/sunIcon.svg" alt="sunIcon">

</button>

<button 
  *ngIf="needScroll"
  [ngClass]="darkMode ? 'dark' : 'light'" 
  class="scroll-up" 
  [class.active]="needScroll" 
  #btn (click)="goToTop()"
>
  <img src="./assets/Icons/upArrowIcon.svg" alt="upArrowIcon">
</button>

  <navbar></navbar>
  <about-me></about-me>
  <my-skills></my-skills>
  <my-projects></my-projects>
  <contact></contact>
  <footer-component></footer-component>








