.mode{
  position: fixed;
  top: 70px;
  right: calc(0% + 2%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  transition: var(--transition-time);
  min-width: 42px;
  min-height: 42px;
  &.dark{
    background-color: white;
  }
  &.light{
    background-color: black;
  }
}

.scroll-up{
  position: fixed;
  bottom: 2%;
  right: calc(0% + 2%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  transition: var(--transition-time);
  animation: up-down 1s infinite alternate;
  min-width: 42px;
  min-height: 42px;
  &.dark{
    background-color: white;
  }
  &.light{
    background-color: black;
    img{
      filter: invert(1);
    }
  }
}

@keyframes up-down {
  from{ transform: translateY(0px)  }
  to { transform: translateY(5px) }
}